

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared style */
 .display-flex{
    display: flex;
 }

 .text-dark-02{
    color: #424242;
 }

 .text-dark-03{
    color: #727272;
 }


 .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
 }

 .primary-btn{
    background-color: #FF900E;
    font-size: 1.25rem;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 20px 24px;
    font-weight: 600;
  
 }

 main{
    max-width: 1440px;
    margin: 0 auto;
 }

 main > section {
    margin-top: 130px;
 }

 .section-title{
    font-size: 1rem;
    margin-bottom: 24px;
    font-weight: 700;
}


/* header style */


/* navbar related style */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brandname{
    font-size: 3rem;
    font-weight: 700;
}

.nav-item{
    list-style: none;
    margin-left: 40px;
}

.nav-item a{
    text-decoration: none;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related style */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
}

.banner-img{
    width: 100%;
}

/* teams and feature related style */

.teams{
    align-items: center;
    
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-img-container img{
    width: 100%;
}

.teams-features{
    padding-left: 130px;
    max-width: 530px;
}



.feature-text{
    color: #727272;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 32px;
}

#quick{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 700;
    margin-right: 0.6rem;
}

#our{
    font-size: 2.8rem;
    font-weight: 700;
}

#features{
    font-size: 2.8rem;
    font-weight: 700;
    color: #FF900E;
}

/* some fact style */

.some-fact-title{
    font-size: 3rem;
    margin-bottom: 24px;

}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 5px;
}

/* sponsor related style */

.sponsor-info{
    text-align: center;
    max-width: 540px;
    margin: 50px auto;
}

.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-company img{
    filter: grayscale(100%);
}

/* responsive media query */

@media screen and (max-width: 576px){
    .navbar, .nav-links, .teams {
        flex-direction: column;
    }

    

    .teams-img-container, .facts-container, .sponsor-company{
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-container, .sponsor-company{
        justify-items: center;
        gap: 24px;
        
    }

    .teams-features{
        padding-left: 20px;
    }
}